{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Time Series Visualizer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      background: linear-gradient(to right, #ffebeb, #ffffff);
      font-family: "Segoe UI", sans-serif;
      color: #333;
    }
  </style>
  <body>
    <div class="container py-5">
      <h1 class="text-center mb-4">Page View Time Series Visualizer</h1>

      <div class="mb-4">
        <h5>CSV Preview:</h5>
        {{ csv_data|safe }}
      </div>

      <form method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto mb-5">
          <button class="btn btn-danger btn-lg" type="submit">
            Generate Visualizations
          </button>
        </div>
      </form>

      {% if analyzed %}
      <div class="row gy-4">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-header fw-bold text-center">Line Plot</div>
            <div class="card-body text-center">
              <img
                src="{% static 'data/line_plot.png' %}"
                class="img-fluid"
                alt="Line Plot"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-header fw-bold text-center">Bar Plot</div>
            <div class="card-body text-center">
              <img
                src="{% static 'data/bar_plot.png' %}"
                class="img-fluid"
                alt="Bar Plot"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-header fw-bold text-center">Box Plot</div>
            <div class="card-body text-center">
              <img
                src="/media/box_plot.png"
                class="img-fluid"
                alt="Sea Level Plot"
              />
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
